{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

    {% block body_items %}
<div class="main">
    <h1 style="font-size: 48px;">About Us</h1>
    <h2 class="single-line">

        We're Mariana, Jeffrey, Denis, and Liang—four creators who decided to build something cool together.

    </h2>
    <p>Think of this app as our big idea, dreamed up on a sunny day.</p>
    <p>We brought our different skills in design, code, and planning </p>
    <p>to create a tool that makes healthy living simple and maybe even a little fun.</p>
    <p>It's our little piece of digital sunshine, built from scratch with a ton of teamwork and good vibes.</p>
    <p>We hope it makes your day a little brighter.</p>
</div>
    {% endblock %}




</body>
</html>
