<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    {% include './header.html' %}
    <title>Document</title>
</head>
<body>
    <button onclick="toggleDarkMode()" id="darkModeBtn" class="dark-mode-btn" title="Toggle Dark Mode">
        <i class="fas fa-moon"></i>
    </button>

<div class="grid-container">
    <a>
    <div class="logo">
        <video id="bitaminLogo" autoplay muted playsinline preload="auto" onloadstart="this.playbackRate = 0.75;">
            <source src="{% static 'images/bitamin_logo_lt.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </a>
</div>



    <nav class="menu">
        <button class="icon-button" onclick="toggleMenu()">
            <img src="{% static 'images/bitamin_icon_transparent.png' %}" alt="Toggle Menu" />
        </button>
        <ul id="menuList">
            <li><a href="http://127.0.0.1:8000/register/">Register</a></li>
            <li><a href="http://127.0.0.1:8000/login/">Login</a></li>
            <li><a href="http://127.0.0.1:8000/ingredients/">What's in your food?</a></li>
            <li><a href="http://127.0.0.1:8000/nutrients/">What has the most nutrient?</a></li>
            <li><a href="http://127.0.0.1:8000/recipes/">Recipes</a></li>
            <li><a href="http://127.0.0.1:8000/about/">About Us</a></li>
            <li><a href="http://127.0.0.1:8000/contact/">Contact Us</a></li>
            <li><a href="http://127.0.0.1:8000/login/">Logout</a></li>
    </ul>

</nav>

    <div class="container">
        {% block body_items %}
        {% endblock %}

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>

<script>


    // Toggle menu function for small screens
    function toggleMenu() {
        const menu = document.getElementById('menuList');
        menu.style.display = (menu.style.display === 'none' || menu.style.display === '') ? 'block' : 'none';
    }

    function toggleDarkMode() {
    document.body.classList.toggle("dark-mode");

    const video = document.getElementById("bitaminLogo");
    const source = video.querySelector("source");
    const isDarkMode = document.body.classList.contains("dark-mode");

    source.src = isDarkMode ? "{% static 'images/bitamin_logo_dk.mp4' %}" : "{% static 'images/bitamin_logo_lt.mp4' %}";
    video.load();
    video.playbackRate = 0.75;
    video.play();

    // Toggle icon
    const icon = document.getElementById("darkModeBtn").querySelector("i");
    icon.className = isDarkMode ? "fas fa-sun" : "fas fa-moon";
}

</script>

{% include 'footer.html' %}