{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
{% include './header.html' %}
</head>
<body>
  {% block body_items %}


  <div class="form-container">
    <h1>Register</h1>
    <form action="{% url 'register' %}" method="post"> {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ form|crispy }}
      <button type="submit">Create Account</button>
    </form>
    <div class="toggle-link">
      <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    </div>

  </div>

  <script>
    function toggleDarkMode() {
    document.body.classList.toggle("dark-mode");

    const video = document.getElementById("bitaminLogo");
    const source = video.querySelector("source");
    const isDarkMode = document.body.classList.contains("dark-mode");

    source.src = isDarkMode ? "bitamin_logo_dk.mp4" : "bitamin_logo_lt.mp4";
    video.load();
    video.playbackRate = 0.75;
    video.play();

    // Toggle icon
    const icon = document.getElementById("darkModeBtn").querySelector("i");
    icon.className = isDarkMode ? "fas fa-sun" : "fas fa-moon";
}
  </script>
{% endblock %}
</body>
</html>